body{
    font-family: 'Open Sans', sans-serif;
    margin:0 auto;
    width:960px;
    }

    h1,h2,h3{
    color:maroon;
    }

    a:link,a:visited{
    text-decoration:none;
    color:blue;
    font-weight:normal;
    }

    a:hover{
    color:black;	
    }

    nav {
        width: 100%;
        margin: auto;
        display: inline-block;
        position: relative;
        text-align: center;
      }

    nav ul{
    display:inline-block;
    list-style-type:none;
    padding:0;
    }

    nav li{
    display:inline-block;
    padding: 0;
    }

    nav a:link, nav a:visited{
    background-color:maroon;
    color:white;
    font-weight:bold;
    display:block;
    width:160px;
    text-align:center;
    padding:10px 0;
    }

    nav a:hover{
    background-color:black;	
    }

    .photo-left{
    float:left;
    margin-right:20px;	
    }

    .photo-right{
    float:right;
    margin-left:20px;
    }

    header{
      background: maroon;
    }

    header h1{
    color: white;
    font-size:50px;
    display: inline-block;
    position:relative;
    text-align: center;
    width: 100%;
    }

    footer{
      margin:40px 0;	
      }
      footer nav a:link, footer nav a:visited{
      color:gray;
      text-decoration:none;
      display:block;
      width:160px;
      text-align:center;
      background-color:white;
      }
      footer nav a:hover{
      color:black;	
      }

    td,th{
    border:1px solid black;
    width:20%;
    text-align:center;
    padding:5px;	
    }

   .btn a{
      background-color: maroon;
      border: none;
      color: white;
      padding: 12px 30px;
      cursor: pointer;
      font-size: 15px;
      display: inline-flex;
    }

    .btn a:hover{
      color:black;	
      }

    .tababs { 
      margin-left: 50px; 
      font-size: 14px;
    }

    .hrbig  {
      width: 100%;
      height: 8px;
      margin-left: auto;
      margin-right: auto;
      background-color: #A9A9A9;
      border: 0 none;
    }

		.slideshow {
			position: relative;
			height: 400px;
			max-width: 800px;
			margin: 0 auto;
			overflow: hidden;
		}
		.slideshow img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			max-height: 100%;
			max-width: 100%;
			animation: fade 1s ease-in-out;
		}
		@keyframes fade {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}
		.button-container {
			text-align: center;
		}
		.button-container button {
			margin: 5px;
			cursor: pointer;
		}